body{
    height: 100%;
}
.header{
background-color: yellow;
float: centre;
}
.op{
    background-color: cornflowerblue;
    width: 1px;
    height: 2px;
    float: left;
}
.content
{background-image: image(nature.png);
    background-color: springgreen;
    text-align: left;
    font-size: 16px;
font-style: oblique;
margin-top: 150px;
}

.footer{
    background-color: tomato;
    margin-top: 100px;
}
.footer button{
    width: 50px;
    padding-left: 20px;
    padding-right: 50px;
    margin-left: 500px;

}
.reg button{

    width: 70px;
    margin-left: 100px;
    background-color: teal;
    align-self: center;
}
.l button
{
    background-color: yellow;
border-radius: 100%;
border-left: teal;
margin-left: 40px;
}

.py{
    border-width: 10px;
    margin-left: 10px;
} 
.c{
    border-width: 10px;
margin-left: 10px;
}
.ja
{
    border-width: 10px;
    margin-left: 10px;
}
.c plus {
    border-width: 10px;
    
    margin-left: 10px;
}
.md
{
    border-width: 10px;
    margin-left: 10px;
}
