
.header{
background-color: yellow;
float: centre;
}
 
    
.op{
    background-color: cornflowerblue;
    width: 1px;
    height: 2px;
    float: left;
    margin-top: 50px;
}
.content
{
    background-image: image("nature.png");
padding-top: 15px;
    background-color: darkorange;
    text-align: left;
    font-size: 16px;
font-style: italic;
margin-top: 58px;
}
@import './nature.png';
.footer{

    margin-top: 10px;
    padding-bottom: 1px;
    padding-top: 5px;
}
.footer button{
    width: 50px;
    padding-left: 20px;
    padding-right: 50px;
    margin-left: 500px;

}
.reg button{

    width: 70px;
    margin-left: 100px;
    background-color: teal;
    align-self: center;
}
.l button
{
    background-color: yellow;
border-radius: 100%;
border-left: teal;
margin-left: 40px;
}


.share button
{margin-left: 10px;
    background-color: firebrick;
width: 75px;
}
.fb img:hover{
opacity: 0.7;    
box-shadow: black ;
}
.twit img:hover{
    opacity: 0.7;
    box-shadow: black;
}
.so
{
    display: table-row-group;
}