.header{
background-color: cornflowerblue;
width: 10px;
height: 20px;
float: centre;
}
.op{
    background-color: cornflowerblue;
    width: 1px;
    height: 2px;
    float: left;
}
.content
{
    background-color: springgreen;
    text-align: left;
    font-size: 16px;
font-style: oblique;
margin-top: 200px;
margin-left: 10px;
margin-bottom: 10px;
margin-right: 10px;
}

.footer{
    background-color: tomato;
    margin-top: 300px;
}
.footer button{
    width: 50px;
    padding-left: 20px;
    padding-right: 50px;
    margin-left: 500px;

}
.reg button{
    width: 70px;
    align-self: center;
}
.l button
{
    background-color: yellow;
border-width: 20pc;
}